[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vmathen
[access "refs/for/refs/*"]
	read = group user/vmathen
	push = group user/vmathen
	label-Code-Review = -2..+2 group user/vmathen
	label-Verified = -1..+1 group user/vmathen
	rebase = group user/vmathen
	removeReviewer = group user/vmathen
	submit = group user/vmathen
[access "refs/heads/*"]
	read = group user/vmathen
	create = group user/vmathen
	push = +force group user/vmathen
	pushMerge = group user/vmathen
[access "refs/tags/*"]
	push = +force group user/vmathen
	pushTag = group user/vmathen
	pushSignedTag = group user/vmathen
